* {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    height: 1.5em;
    padding: 0 1em;
    line-height: 1.5em;
    border-right: black 1px solid;
}

nav a {
    color: black;
    text-decoration: none; 
}

article {
    margin: 20px 40px;
}

article h1 {
    margin-bottom: 0.4em;
}

article p,
article ul
{
    margin-bottom: 1em;
    line-height: 1.5em;
}

footer {
    background-color: #ceb98e;
    text-align: center;
    padding: 0 1em;
    line-height: 1.5em;
}
body{
    font-family:Arial;
}
#Ueberschrift{
    background-color:lightblue;
    background:url(../Bilder/saeulen.jpg);
    height:150px;
    
}
#ImHeader{
    color:white;
    font-size:1.8em;
    text-align:right;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:0px;
    padding-left:100px;
}
.keinrahmen{
    background-color:#ceb98e;
    border-left-style:none;
}
a:hover{
    text-decoration:underline;
}
.schatten{
    background-image:url(../Bilder/schatten.png); 
    height:12px;
    background-repeat: repeat-x;
}
