ErrorDocument 404 /404.php
DirectoryIndex index.php



#PHP
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#HTML
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteEngine on
Redirect 301 /ts3 ts3server://lqs?port=9987%26channel=lobby

RewriteEngine on
Redirect 301 /discord https://discord.gg/t54snc3



 